:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.enlace {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  padding-bottom: 5px;
  margin: 8px;
}

.enlace:hover {
  color: #ffbf00;
  border-bottom: solid 8px;
  border-color: #ffbf00;
  margin-bottom: 0px;
}

.active {
  color: #ffbf00;
  font-weight: bold;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background {
  padding: 0rem 2rem;
  background: none;
  color: #fff;
  border-image-source: radial-gradient(#d19d00, #ffdf7e, #ffbf00);
  border-image-slice: 1 0 1 0;
  border-image-width: 0.25rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.enlaces {
  display: flex;
  align-items: center;
}

.top {
	position: relative;
	height: 14px;
}

.encabezado {
  margin-top: 20px;
  display: flex;
  height: 80px;
  background-image: url("assets/jinx-fondo.jpg");
  background-size: cover;
  background-position: center center;
  text-align: left;
  align-items: center;
}

.titulo {
  margin: 0 20px;
  font-size: xx-large;
  color: #ffbf00;
}

.subtitulo {
  margin: 4px 10px;
  font-size: medium;
  color: #ffbf00;
}

.arcane-logo {
  width: 38px;
  margin-right: 10px;
}

.logo {
  position: absolute;
  right: 20px;
  top: 2px;
  width: 76px;
  color: #ffbf00;
}

.box-container {
  width: 100%;
  height: 180px;
  background-color: #1a1919;
  border-radius: 10px;
}

a { 
  text-decoration: none;
 }

.seccion {
  max-width: 1440px;
  margin: 20px auto;
  background-color: #201f1f;
  border-radius: 20px;
}

@media (min-width: 768px) {
  
  .cuadricula {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
      row-gap: 20px;
    }
  
}